/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul, ol {
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    margin-left: 0;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    main {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    li {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
