/* Body styles */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    background-image: url(img123.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Header styles */
  h1 {
    text-align: center;
    color: black;
    /* margin-top: 50px; */
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2%;
    margin-top: 2px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  
  /* Form styles */
  form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  select,
  textarea,
  input[type="text"],
  input[type="file"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="file"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  }
  
  textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3e90ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #2361a7;
  }
  
  /* Map styles */
  #map {
    height: 200px;
    margin-bottom: 20px;
  }
  
  /* Animation styles */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
  }



  